<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.space
{
  letter-spacing: 10px;
}
.middle
{
  position:absolute;
  left: 50%;
}
 .bgimg-1 {
   background-image: url('http://mnmlst.com.au/wp-content/uploads/2016/10/mnmlst.jpg');
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   min-height: 100%;
 }



</style>
<div class="bgimg-1">


<div class="space middle"><h1>EDIT POST</h1></div>
<%= render 'form' %>
</div>
